$text: #333333;
$title: #0066B3;
$white: #FFFFFF;
$gray: #828282;
$span: #D84245;

$mediaWidthMobileSmall: 320px;
$mediaWidthMobile: 480px;
$mediaWidthTablet: 767px;
$mediaWidthTabletHorizontal: 992px;
$mediaWidthLaptop: 1200px;
