@import './variable';
@import './common/media';

.news {
    padding-top: 80px;
}
.news-content {
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #222222;
        a {
            outline: none;
            text-decoration-line: underline;
            color:#E46B2D;;
            cursor: pointer;
        }
    }
}
.news-content-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    img {
        margin-right: 60px;
    }
		&_text {
            h2 {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 37px;
                color: #005CA9;
                margin-bottom: 20px;
            }
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #444444;
            }
		}
}
