@import './variable';
@import './common/media';

.news {
    padding-top: 80px;
}
.news-content {

}
.news-content-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    img {
        margin-right: 60px;
        object-fit: cover;
    }
		&_text {
            h2 {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 37px;
                color: #005CA9;
                margin-bottom: 20px;
            }
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #444444;
            }
		}
}


//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .news {
        padding-top: 40px;
    }
    .news-content-top {
        flex-direction: column;
        img {
            margin-right: 0;
            object-fit: contain;
            margin-bottom: 40px;
        }

    }
}
//767px
@include media-tablet {
    .news-content-top_text h2 {
        text-align: center;
    }
}
//480px
@include media-mobile {

    .news-content-top {
        img {
            margin-bottom: 20px;
            height: 210px;
        }
    }
}
//320px
@include media-mobile-small {
   
}